/*
multi
line
comment
*/

body {
	background-color: #bbb;
}

.fancy-header {
    top: 40px;
    color: #3300ff; /* single line comment */
    text-decoration: none;
    font-family: arial;
    background-color: #cc44bb;
    border: #44EE22 10px solid;
    border-radius: 100px;
    width: auto;
    position: relative;
    height: 70px;
    text-align: center;
    line-height: 70px;
}